<%= form_for article do |f| %>

  <div class="form-group my-5">
      <%= f.label :image, "画像" %>
      <%= f.attachment_field :image, class: "form-control-file"%>
  </div>


  <div class="form-group my-5">
    <%= f.label :title, 'タイトル' %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group my-5">
    <%= f.label :body, '本文' %>
    <%= f.text_area :body, rows: 15, class: 'form-control' %>
  </div>

  <%= f.submit nil, class: "btn btn-primary"%>

<% end %>