<!-- Page Header -->
<header class="masthead" style="background-image: url('https://blackrockdigital.github.io/startbootstrap-clean-blog/img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">

          <h1>Clean Blog</h1>

          <% if user_signed_in? %>
           <span class="subheading"><%= "by  #{current_user.name}" %></span>
            <% end %>

        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <% @article.each do |article| %>
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <%= link_to article do %>
            <h2 class="post-title">
              <%= article.title %>
            </h2>
          <% end %>

          <p class="post-meta mt-5 mb-0">投稿者
            <a href="#"><%= article.user.name%></a>

              <%#= l article.updated_at  %>

           <p class="post-meta">投稿日 <%= l article.created_at, format: :long %></p>
<!--          <p class="post-meta">更新日 <%#= l article.updated_at, format: :long %></p>-->

        </div>
        <hr>

      </div>
      <hr>
    </div>
  <% end %>
</div>
<!-- Pager -->
<div class="clearfix mr-5">
  <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
</div>

<hr>
